@import 'constants';

.app {
  font-family: 'Open Sans', Fallback, sans-serif;
  color: $black;
  background-color: $white;
  text-align: center;
  color: $text;
  @include flex-columns-justify-start();
  min-height: 2000px;
  height: 1185vh;
  @media (min-width: $tablet) {
    height: 585vh;
  }
  @media (min-width: $personalComputer) {
    height: 435vh;
  }
  .home {
    height: 100vh;
    width: 100%;
    @include flex-columns();
  }
  .page {
    @include flex(3.5);
    height: 350vh;
    @media (min-width: $tablet) {
      @include flex(1.5);
      height: 150vh;
    }
    @media (min-width: $personalComputer) {
      @include flex(1);
      height: 100vh;
    }
  }
  .footer {
    @include flex(.35);
    height: 35vh;
    width: 100%;
    background-color: $dark-gray;
  }
}

.splash {
  font-family: 'Open Sans', Fallback, sans-serif;
  color: $black;
  background-color: $white;
  text-align: center;
  color: $text;
  @include flex-columns-justify-start();
  min-height: 2000px;
  height: 900vh;
  @media (min-width: $phablet) {
    height: 600vh;
  }
  .page {
    @include flex(1);
    height: 100vh;
    &--double {
      height: 200vh;
      @include flex(2);
      @media (min-width: $phablet) {
        @include flex(1);
        height: 100vh;
      }
    }
    &--triple {
      height: 300vh;
      @include flex(3);
      @media (min-width: $phablet) {
        @include flex(1);
        height: 100vh;
      }
    }
    &--half {
      @include flex(.5);
      height: 50vh;
    }
  }
}

.home {
  &__message {
    flex: 2;
    @media (min-width: $personalComputer) {
      flex: 3;
    }
    text-align: left;
    width: 80%;
    color: $dark-gray;
    @include flex-columns();
    &__header {
      width: 100%;
      flex: 2;
      font-size: 2em;
      color: $text;
      @include flex-columns-align-start();
      justify-content: flex-end;
    }
    &__subheader {
      flex: 1;
      width: 100%;
      font-size: 1.5em;
      @include flex-columns-align-start();
      justify-content: center;
    }
  }
  &__art {
    flex: 3.5;
    font-family: 'Nova', Fallback, sans-serif;
    color: $text;
    background-size: 245% auto;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    background-image: url('../images/MobileLandingPage.png');
    background-position: center 60%;
    @media (min-width: $phablet) {
      width: $phablet;
      height: 350px;
    }
    @media (min-width: $personalComputer) {
      background-image: url('../images/LandingPageFull.png');
      padding-top: 1em;
      background-position: center;
      width: $personalComputer;
      height: 200px;
      background-size: 100% auto;
    }
    @media (min-width: $personalComputer) {
      width: $personalComputer;
      height: 270px;
    }
    @media (min-width: $largePersonalComputer) {
      width: $largePersonalComputer;
      height: 300px;
    }
    background-repeat: no-repeat;
  }
  &__description {
    flex: .5;
    @include flex-columns();
    font-size: 1.5em;
    @media (min-width: $phablet) {
      justify-content: center;
      font-size: 2em;
    }
    text-align: center;
    color: $dark-gray;
  }
  @include button($white, $text);
}

.page {
  width: 100%;
  @include flex-columns();
  &--spash-header {
    background-image: url('https://portal-soft.imgix.net/PartnerCoverImage.jpg');
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__blue-container {
    &--half-white {
      background: linear-gradient(to bottom, $text 0%, $text 50%, #000000 50%, $white 50%, $white 100%);
    }
    height: 100%;
    width: 100%;
    @media (min-width: $phablet) {
      width: 80%;
    }
    margin: 0 auto;
    background-color: $text;
    &__section {
      float: left;
      width: 50%;
      height: 50%;
      &__header {
        text-align: left;
        width: 80%;
        margin: 3em 0 1em 2em;
        @media (min-width: $phablet) {
          margin: 2em 0 1em 4em;
        }
        font-size: 1.5em;
        color: $white;
      }
      &__text {
        text-align: left;
        margin: 1em 0 1em 2.5em;
        font-size: 1.1em;
        @media (min-width: $phablet) {
          font-size: 1em;
          margin: 2em 0 1em 6em;
        }
        width: 70%;
        color: $white;
      }
    }
  }
  &__contact-header {
    margin-top: 1em;
    font-size: 3em;
    color: white;
    text-align: center;
  }
  &__feature-block-wrapper {
    @include flex(1);
    width: 100%;
    @media (min-width: $phablet) {
      width: 80%;
    }
  }
  &__feature-block {
    float: left;
    width: 85%;
    padding-left: 15%;
    height: 12.5%;
    @media (min-width: $phablet) {
      width: 50%;
      padding-left: 0;
      height: 25%;
    }
    @include flex-rows();
    &__image {
      @include flex(1);
      background-size: auto 40%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      &--best {
        background-image: url('https://portal-soft.imgix.net/OfferIcon.png');
      }
      &--revenue {
        background-image: url('https://portal-soft.imgix.net/RevshareIcon.png');
      }
      &--space {
        background-image: url('https://portal-soft.imgix.net/DiscountIcon.png');
      }
      &--full-service {
        background-image: url('https://portal-soft.imgix.net/SupportIcon (1).png');
      }
      &--customization {
        background-image: url('https://portal-soft.imgix.net/WhitelabelIcon.png');
      }
      &--accessible {
        background-position: 55% 50%;
        background-image: url('https://portal-soft.imgix.net/Phoneicon.png');
      }
      &--site {
        background-image: url('https://portal-soft.imgix.net/IntegrationIcon.png');
      }
      &--analytics {
        background-image: url('https://portal-soft.imgix.net/AnalyticsIcon.png');
      }
    }
    &__text {
      color: $dark-gray;
      @include flex(2);
      @include flex-columns;
      &__title {
        width: 95%;
        padding-left: 5%;
        text-align: left;
        font-size: 1.5em;
        @include flex(1);
      }
      &__description {
        width: 65%;
        padding-left: 5%;
        text-align: left;
        @include flex(2);
        align-self: flex-start;
      }
    }
  }
  &--contact {
    background-image: url('https://portal-soft.imgix.net/ContactImage.jpeg');
    background-size: auto 125%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__pricing-boxes {
    height: 100%;
    @include flex(1);
    width: 100%;
    @media (min-width: $phablet) {
      width: 80%;
    }
    margin: 0 auto;
    &__box {
      height: 26.6%;
      width: 80%;
      margin: 5em 0 0 10%;
      @media (min-width: $phablet) {
        height: 70%;
        width: 30%;
        margin: 5em 0 0 2.5%;
      }
      float: left;
      background-color: $gray;
      @include flex-columns();
      color: $dark-gray;
      &--half {
        height: 16.6%;
        @media (min-width: $phablet) {
          height: 50%;
        }
      }
      &__header {
        @include flex(.2);
        @include flex-columns();
        border-bottom: 1px solid $dark-gray;
        width: 100%;
        font-size: 1.5em;
        &--enterprise {
          @include flex(.28);
        }
      }
      &__price {
        @include flex(.2);
        @include flex-columns();
        font-size: 1.3em;
        &--small {
          display: inline-block;
          font-size: .7em;
        }
        &--enterprise {
          @include flex(.28);
          font-size: 1.1em;
        }
      }
      &__bullets {
        @include flex(.6);
        @include flex-columns();
        width: 70%;
        justify-content: flex-start;
        &--enterprise {
          @include flex(.42);
        }
        &__bullet {
          margin-bottom: 1em;
          text-align: center;
          @media (min-width: $phablet) {
            text-align: left;
          }
          font-size: .9em;
          width: 100%;
          &--enterprise {
            font-size: 1em;
            text-align: center;
          }
        }
      }
    }
  }
  &__contact-form {
    @include flex-columns();
    @include flex(1);
    width: 100%;
    @media (min-width: $phablet) {
      width: 80%;
    }
    input[type=submit] {
      width: 200px;
      border-radius: none;
      background-color: $text;
      color: $white;
      border: none;
      height: 50px;
      font-size: 1.5em;
      margin: 0 auto 1em auto;
      -webkit-appearance: none;
    }
    &__line {
      width: 100%;
      height: .1em;
      &__label {
        line-height: 3em;
        font-size: 1.5em;
        @media (min-width: $tablet) {
          line-height: 1em;
          font-size: 2em;
        }
        width: 30%;
        float: left;
        padding: 0 5% 0 7.5%;
        @media (min-width: $phablet) {
          padding: 0 5% 0 12.5%;
        }
        text-align: right;
        color: $white;
      }
      input[type=text] {
        border: $white;
        float: left;
        width: 40%;
        @media (min-width: $phablet) {
          width: 30%;
        }
        padding: 10px 0px;
        font-size: 1.2em;
        border-radius: 15px;
        text-align: center;
      }
      textarea {
        border: $white;
        font-size: .8em;
        padding: 30px 0px;
        float: left;
        width: 40%;
        @media (min-width: $phablet) {
          width: 30%;
        }
        overflow-x: hidden;
        border-radius: 15px;
        text-align: center;
      }
      &__input {
        &--hidden {
          padding: none;
          height: 0;
          visibility: hidden;
        }
      }
    }
  }
  &--gray {
    background-color: $gray;
  }
  &--blue {
    background-color: $text;
  }
  &__splash-spacer {
    @include flex(4);
  }
  &__header {
    @include flex-columns();
    @include flex(.2);
    &--gray {
      color: $dark-gray;
    }
    &--white {
      color: $white;
    }
    &--modal {
      height: 8em;
    }
    &__text {
      font-size: 4em;
      @media (min-width: $tablet) {
        font-size: 2em;
      }
    }
    &--modal {
      margin-bottom: 2em;
      @media (min-width: $tablet) {
        margin-bottom: 0;
      }
    }
  }
  &__description {
    flex: .5;
    @include flex-columns();
    font-size: 2.5em;
    text-align: center;
    color: $white;
    @media (min-width: $phablet) {
      justify-content: center;
      font-size: 4em;
    }
    &--sub {
      font-size: 2em;
      @media (min-width: $phablet) {
        justify-content: center;
        font-size: 2em;
      }
    }
  }
  &__pitch-icon-container {
    @include flex(.6);
    @include flex-columns();
    text-align: center;
    width: 60%;
    justify-content: flex-end;
    &--companies {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__pitch-icon {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    background-image: url('https://portal-soft.imgix.net/icons8-business-building-50.png');
    &--computer {
      width: 200px;
      background-image: url('https://portal-soft.imgix.net/FeaturerichIcon.png');
    }
    &--fintech {
      width: 50%;
      @media (min-width: $phablet) {
        width: 25%;
      }
      float: left;
      background-size: 100% auto;
      background-image: url('https://portal-soft.imgix.net/INVFintech.png');
    }
    &--sosv {
      width: 50%;
      @media (min-width: $phablet) {
        width: 25%;
      }
      float: left;
      background-size: 50% auto;
      background-image: url('https://portal-soft.imgix.net/sosv.png');
    }
    &--bespoke {
      width: 50%;
      @media (min-width: $phablet) {
        width: 25%;
      }
      float: left;
      background-size: 100% auto;
      background-image: url('https://portal-soft.imgix.net/ignitexl.png');
    }
    &--seedstars {
      width: 50%;
      @media (min-width: $phablet) {
        width: 25%;
      }
      float: left;
      background-size: 100% auto;
      background-image: url('https://portal-soft.imgix.net/Seedstars.png');
    }
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__pitch-title {
    @include flex(.4);
    @include flex-columns();
    justify-content: flex-start;
    text-align: center;
    width: 80%;
    @media (min-width: $phablet) {
      width: 50%;
    }
    color: $text;
    font-size: 2em
  }
  &__pitch-text {
    @include flex(.4);
    @include flex-columns();
    justify-content: flex-start;
    text-align: center;
    width: 80%;
    @media (min-width: $phablet) {
      width: 60%;
    }
    color: $dark-gray;
    font-size: 1.5em
  }
  &__company-blurb {
    @include flex(.4);
    @include flex-columns();
    text-align: center;
    color: $dark-gray;
    width: 80%;
    @media (min-width: $phablet) {
      width: 60%;
    }
    justify-content: flex-end;
    font-size: 1.5em;
  }
  @include button($white, $text);
  &__button-wrapper--pricing {
    display: block;
    float: left;
    margin: 15em 25%;
    width: 50%;
    font-size: 1.5em;
    @media (min-width: $phablet) {
      margin: 3em 2.5% 0 2.5%;
      width: 30%;
      font-size: 1em;
    }

  }
  &__tiles {
    @include flex(.8);
    width: 100%;
    @media (min-width: $tablet) {
      width: 75%;
      &--modal {
        width: 100%;
      }
    }
    margin: 0 auto;
    @include tiles();
    .tile {
      width: 230px;
      margin: 0 0 50px calc((100% - 230px)/2);
      @media (min-width: $tablet) {
        margin: 0 0 50px calc((100% - 460px)/3);
      }
      @media (min-width: $personalComputer) {
        margin: 0 0 50px calc((100% - 690px)/4);
      }
      &:link {
        width: 230px;
        margin: 0 0 50px calc((100% - 230px)/2);
        @media (min-width: $tablet) {
          margin: 0 0 50px calc((100% - 460px)/3);
        }
        @media (min-width: $personalComputer) {
          margin: 0 0 50px calc((100% - 690px)/4);
        }
      }
      &--modal {
        &:link {
          margin: 0 0 50px calc((100% - 230px)/2);
          @media (min-width: $phablet) {
            margin: 0 0 50px calc((100% - 460px)/3);
          }
          @media (min-width: $tablet) {
            margin: 0 0 50px calc((100% - 690px)/4);
          }
          @media (min-width: $personalComputer) {
            margin: 0 0 50px calc((100% - 920px)/5);
          }
        }
      }
    }
  }
}

.footer {
  @include flex(.35);
  width: 100%;
  background-color: $dark-gray;
  @include flex-columns();
  &__spacing {
    @include flex(.25);
  }
  &__wrapper {
    width: 90%;
    @media (min-width: $tablet) {
      width: 75%;
    }
    @include flex-rows();
    @include flex(.75);
    align-items: stretch;
    &__category {
      align-items: stretch;
      max-width: 25vw;
      overflow: hidden;
      @include flex(1);
      @include flex-columns();
      &__title {
        @include flex(1);
        @include flex-columns();
        width: 100%;
        font-size: 1.2em;
        @media (min-width: $personalComputer) {
          font-size: 1em;
        }
        text-align: center;
        color: $white;
      }
      &__text {
        @include flex(2);
        @include flex-columns();
        color: $white;
        font-size: 1.3em;
        @media (min-width: $personalComputer) {
          font-size: 1em;
        }
        @include transition(color, 0.35s, ease-in-out);
        &:hover {
          cursor: pointer;
          color: $gray;
        }
        text-decoration: none;
        a {
          text-decoration: none;
          @include transition(color, 0.35s, ease-in-out);
          &:link {
            color: $medium-gray;
          }
          &:hover {
            cursor: pointer;
            color: $gray;
          }
        }
        &__section {
          display: block;
          @include transition(color, 0.35s, ease-in-out);
          cursor: pointer;
          color: $medium-gray;
          &:link {
            cursor: pointer;
            color: $medium-gray;
          }
          &:visited {
            cursor: pointer;
            color: $medium-gray;
          }
          &:hover {
            cursor: pointer;
            color: $gray;
          }
          @include flex(1);
          @include flex-columns();
        }
        .icon-container {
          @include flex-columns();
          overflow: hidden;
          &:link {
            cursor: pointer;
            color: $medium-gray;
          }
          &:visited {
            cursor: pointer;
            color: $medium-gray;
          }
          &:hover {
            cursor: pointer;
            color: $gray;
          }
          svg {
            max-width: 50px;
            max-height: 50px;
            padding-left: 0;
            @media (min-width: $personalComputer) {
              padding-left: 1em;
            }
            display: block;
            fill: currentColor;
          }
        }
      }
    }
  }
}
