/* query breakpoints */

$phablet: 500px;
$tablet: 715px;
$personalComputer: 1024px;
$largePersonalComputer: 1200px;

/* top level classes */

* {
  flex-shrink: 1;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: .74em;
  @media (min-width: $phablet) {
    font-size: .8em;
  }
  @media (min-width: $personalComputer) {
    font-size: .82em;
  }
  @media (min-width: $personalComputer) {
    font-size: .88em;
  }
  @media (min-width: $largePersonalComputer) {
    font-size: .98em;
  }
}

h1 {
  margin: 0;
}

.seo-header {
  visibility: hidden;
  height: 0;
}

/* standard colors */

$white: #ffffff;
$secondary-background-color: #f5f5f9;
$black: #000000;
$light-gray: #eff;
$gray: #fcfcfc;
$medium-gray: #acacac;
$dark-gray: #696969;
$accent: #47a8de;
$text: #4279ba;
$salmon: #ff8c8f;

/* custom fonts */

@font-face {
  font-family: 'Nova';
  src: url('ProximaNovaSoft.otf') format('truetype');
}

/* mixins to extend */

@mixin flex-columns() {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

@mixin flex-columns-align-start() {
  @include flex-columns();
  align-items: flex-start;
}

@mixin flex-columns-justify-start() {
  @include flex-columns();
  justify-content: flex-start;
}

@mixin button($words, $background) {
  &__button-wrapper {
    @include flex(2);
    @include flex-columns();
  }
  &__button {
    @include flex(.75);
    @include flex-columns-justify-start();
    @media (min-width: $personalComputer) {
      @include flex(1);
      justify-content: center;
    }
    &:link {
      text-decoration: none;
      color: $words;
    }
    &:visited {
      color: $words;
    }
    &__button-text {
      background-color: $background;
      font-size: 1.5em;
      color: $words;
      padding: .5em 1em;
      border: 2px solid transparent;
      @include doubleTransition(color, 0.2s, ease-in-out, background-color, 0.2s, ease-in-out);
      &:hover {
        cursor: pointer;
        color: $background;
        background-color: $words;
        border: 2px solid $background;
      }
    }
  }
}

@mixin flex-rows() {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

@mixin flex($num) {
  flex: $num 1 0%;
  -webkit-flex: $num 1 0%;
}

@mixin tiles() {
  .tile {
    font-size: .95em;
    @media (min-width: $phablet) {
      font-size: 16px;
    }
    height: 230px;
    width: 230px;
    float: left;
    &__name {
      @include flex(1.25);
      @include flex-columns();
      width: 100%;
      background-color: $white;
      font-weight: bold;
      color: $black;
    }
    &__discount {
      @include flex(.75);
      @include flex-columns();
      width: 100%;
      background-color: $white;
      font-weight: bold;
      color: $black;
      justify-content: flex-start;
    }
    &__tagline {
      @include flex(3.5);
      background-color: $white;
      @include flex-columns();
      color: $dark-gray;
      width: 90%;
    }
    &--company {
      box-shadow: 2px 2px 2px $medium-gray;
      background-color: $black;
      margin: 50px auto;
      background-color: $white;
      text-align: center;
      opacity: 1;
      @include flex-columns();
      @include tripleTransition(opacity, ease-in-out, 0.2s, background-color, ease-in-out, 0.2s, color, ease-in-out, 0.2s);
      &:link {
        text-decoration: none;
        color: $text;
        font-weight: bold;
        background-color: $white;
        font-size: 1.8em;
        @media (min-width: $phablet) {
          font-size: .9em;
        }
        opacity: 1;
      }
      &:visited {
        color: $text;
      }
      &:hover {
        opacity: .5;
        color: $dark-gray;
        background-color: $white;
      }
    }
    &__cat-name {
      height: 1em;
      font-size: 2em;
      @include flex-columns();
      @include flex(1);
    }
    &--category {
      @media (min-width: $tablet) {
        border-bottom: 0;
      }
      &--flat {
        cursor: default;
      }
      cursor: pointer;
      margin: 50px auto;
      @include transition(color, 0.35s, ease-in-out);
      text-decoration: none;
      &:link {
        color: $gray;
      }
      &:visited {
        color: $gray;
      }
      &:hover {
        color: $white;
      }
      @include flex-columns();
      .icon-container {
        @include flex(1);
        height: 40%;
        width: 40%;
        @include flex-columns();
        justify-content: flex-end;
        .icon {
          display: inline;
          width: 45%;
          height: 45%;
          @media (min-width: $personalComputer) {
            width: 45%;
            height: 45%;
          }
          fill: currentColor;
        }
      }
    }
  }
}

/* mixins for transitions */

@mixin transition($property, $timing, $effect) {
  -webkit-transition: $property $timing $effect;
  -moz-transition: $property $timing $effect;
  -ms-transition: $property $timing $effect;
  -o-transition: $property $timing $effect;
  transition: $property $timing $effect;
}

@mixin doubleTransition($property, $timing, $effect, $propertyTwo, $timingTwo, $effectTwo) {
  -webkit-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo;
  -moz-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo;
  -ms-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo;
  -o-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo;
  transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo;
}

@mixin tripleTransition($property, $timing, $effect, $propertyTwo, $timingTwo, $effectTwo, $propertyThree, $timingThree, $effectThree) {
  -webkit-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo, $propertyThree, $timingThree, $effectThree;
  -moz-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo, $propertyThree, $timingThree, $effectThree;
  -ms-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo, $propertyThree, $timingThree, $effectThree;
  -o-transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo, $propertyThree, $timingThree, $effectThree;
  transition: $property $timing $effect, $propertyTwo $timingTwo $effectTwo, $propertyThree, $timingThree, $effectThree;
}

/* mixins for animations */

@mixin animateFadeIn($time) {
  -webkit-animation: fadein $time;
  -moz-animation: fadein $time;
  -ms-animation: fadein $time;
  -o-animation: fadein $time;
  animation: fadein $time;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

