@import 'constants';

.modal {
  font-family: 'Nova', Fallback, sans-serif;
  color: $text;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $gray;
  z-index: 7;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  @include doubleTransition(right, 0.2s, ease-in-out, visibility, 0.2s, ease-in-out);
  @media (min-width: $largePersonalComputer) {
    width: 1200px;
    height: 700px;
    top: calc((100% - 700px)/2);
    left: calc((100% - 1200px)/2);
    right: calc((100% - 1200px)/2);
    bottom: calc((100% - 700px)/2);
    opacity: 0;
    @include doubleTransition(opacity, 0.2s, ease-in-out, visibility, 0.2s, ease-in-out);
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  &--active {
    right: 0;
    visibility: visible;
  }
}

.modal-overlay {
  visibility: hidden;
  @media (min-width: $personalComputer) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    z-index: 6;
    opacity: 0;
    @include doubleTransition(opacity, 0.2s, ease-in-out, visibility, 0.2s, ease-in-out);
    &--active {
      opacity: .2;
      visibility: visible;
      &:hover {
        opacity: .23;
      }
      &:active {
        opacity: .2;
      }
    }
  }
}

.back-button {
  z-index: 8;
  text-align: center;
  font-family: 'Nova', Fallback, sans-serif;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  color: $dark-gray;
  visibility: hidden;
  opacity: 0;
  font-size: 4em;
  top: 2%;
  left: 2%;
  @include doubleTransition(opacity, 0s, ease-out, visibility, 0s, ease-out);
  &--active {
    opacity: .5;
    visibility: visible;
    &:active {
      opacity: .5;
    }
    &:hover {
      opacity: .6;
    }
  }
  @media (min-width: $personalComputer) {
    @include doubleTransition(opacity, 0.2s, ease-in-out, visibility, 0.2s, ease-in-out);
    top: 1%;
    left: 1%;
    font-size: 2em;
  }
}

.company {
  height: 200vh;
  font-size: 1.8em;
  @include flex-columns();
  flex-direction: column-reverse;
  .scroll-top: {
    width: 0%;
  }
  @media (min-width: $largePersonalComputer) {
    height: 700px;
    font-size: 1em;
    @include flex-rows();
    flex-direction: row-reverse;
  }
  &__description {
    @include flex(1);
    @media (min-width: $largePersonalComputer) {
      @include flex(3);
      overflow: auto;
    }
    align-self: stretch;
    width: 100%;
    background-color: $gray;
    color: $dark-gray;
    @include flex-columns();
    &__screenshot-wrapper {
      visibility: hidden;
      width: 100%;
      display: flex;
      flex: 10 1 0%;
      overflow: hidden;
      @media (min-width: $personalComputer) {
        visibility: visible;
        overflow: initial;
        &__screenshots {
          &--large{
            width: 100%;
            height: 1400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
          }
        }
      }
    }
    &__tagline {
      color: $black;
      height: 100%;
      width: 80%;
      font-weight: 600;
      font-size: .9em;
      @media (min-width: $personalComputer) {
        width: 65%;
        font-size: 1em;
      }
      text-align: center;
      @include flex(1);
    }
    &__header {
      @include flex(3);
      @include flex-columns();
      @media (min-width: $personalComputer) {
        @include flex(2);
        justify-content: flex-end;
      }
      height: 100%;
      width: 100%;
      font-size: 2.5em;
      font-weight: 600;
      text-align: center;
    }
    &__write-up-wrapper {
      @include flex(10);
      @media (min-width: $personalComputer) {
        @include flex(2);
      }
      width: 90%;
      @include flex-columns();
      &__write-up {
        padding: 1.5em;
        color: $black;
        text-align: center;
        width: 100%;
        font-size: .9em;
        @media (min-width: $personalComputer) {
          font-size: 1em;
          width: 85%;
        }
      }
    }
  }
}

.profile {
  background-color: $dark-gray;
  color: $white;
  font-size: 1.2em;
  @include flex(1);
  @media (min-width: $largePersonalComputer) {
    @include flex(1.5);
  }
  align-self: stretch;
  width: 100%;
  @include flex-columns();
  &__restrictions {
    @include flex(.2);
    font-size: .7em;
    @include flex-columns();
    text-align: center;
    width: 80%;
  }
  &__message {
    @include flex(.2);
    font-size: .8em;
    @include flex-columns();
    text-align: center;
    width: 80%;
  }
  &__company-sidebar-spacing {
    @include flex(.35);
    width: 100%;
    height: 100%;
  }
  &__box {
    @include flex(1);
    @media (min-width: $tablet) {
      @include flex(2);
    }
    width: 100%;
    @include flex-columns();
    @media (min-width: $personalComputer) {
      flex: .5;
      @include flex-rows();
    }
    @media (min-width: $largePersonalComputer) {
      flex: 1;
      border-bottom: none;
      @include flex-columns();
    }
    &__discount {
      @include flex-columns();
      flex: 2;
      background-color: $white;
      width: 100%;
      color: $text;
      height: 2em;
      text-align: center;
    }
    .company-sidebar-text {
      @include flex(1);
      font-size: .8em;
      width: 100%;
      height: 100%;
    }
    &__info {
      @include flex(.5);
      color: $white;
      background-color: $dark-gray;
      @media (min-width: $personalComputer) {
        color: $dark-gray;
        background-color: $gray;
      }
      @media (min-width: $largePersonalComputer) {
        color: $white;
        background-color: $dark-gray;
      }
      width: 80%;
      height: 100%;
      text-align: center;
      @include flex-columns();
      &__spacing {
        @include flex(.5);
        width: 100%;
        height: 100%;
      }
      &__line {
        @include flex(1);
        @include flex-columns();
        width: 100%;
        font-size: .8em;
        height: 100%;
      }
    }
  }
  @include button($white, $salmon);
  &__button {
    width: 60%;
    &__button-text {
      text-align: center;
      width: 100%;
    }
  }
  &__button-wrapper {
    width: 70%;
    @include flex(.3);
    &__promo {
      width: 100%;
      font-size: .95em;
      margin: 0 auto;
      text-align: center;
    }
    &__form-field {
      width: 80%;
      margin: 0 10%;
      padding: 1%;
      border: 1px solid $gray;
      color: $text;
      @include transition(border, 0.3s, ease-in-out);
      &:focus {
        outline: none;
        border: 1px solid $dark-gray;
      }
    }
  }
}

.about {
  @include flex(1);
  width: 100%;
  color: $black;
  align-self: start;
  &__header {
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    color: $black;
    font-weight: bold;
    margin: 1.5em 0 1em 0;
    @media (min-width: $personalComputer) {
      font-size: 2em;
    }
  }
  &__sub-header {
    width: 70%;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    color: $black;
    margin: 1em auto;
    @media (min-width: $personalComputer) {
      font-size: 1.2em;
    }
  }
  &__section {
    width: 75%;
    text-align: left;
    font-size: 1.4em;
    color: $black;
    margin: 1em auto;
    @media (min-width: $personalComputer) {
      width: 60%;
      font-size: 1em;
    }
    &--last {
      margin-bottom: 2em;
    }
  }
  &__bullets {
    width: 100%;
    text-align: left;
    color: $black;
    font-size: 1.1em;
    margin: 1em;
    @media (min-width: $personalComputer) {
      font-size: 0.9em;
    }
  }
}

.stars {
  display: inline-block;
  a {
    &:link {
      font-size: .9em;
      text-decoration: underline;
      color: $white;
      @media (min-width: $personalComputer) {
        color: $dark-gray;
      }
      @media (min-width: $largePersonalComputer) {
        color: $white;
      }
      width: 75%;
      opacity: 1;
    }
    &:visited {
      color: $white;
      @media (min-width: $personalComputer) {
        color: $dark-gray;
      }
      @media (min-width: $largePersonalComputer) {
        color: $white;
      }
    }
    &:hover {
      opacity: .5;
      color: $accent;
    }
  }
  .star {
    font-size: .9em;
    display: inline-block;
    color: gray;
    position:relative;
    &:last-child {
      margin-right: 0;
    }
    &:before {
      content:'\2605';
    }
    &--filled {
      color: gold;
    }
    &--half {
      &:after {
        content:'\2605';
        color: gold;
        position: absolute;
        left:0;
        right:50%;
        top:0;
        bottom:0;
        overflow: hidden;
      }
    }
    &--spacer {
      color: $dark-gray;
      @media (min-width: $personalComputer) {
        color: $gray;
      }
      @media (min-width: $largePersonalComputer) {
        color: $dark-gray;
      }
    }
  }
}
