@import 'constants';

.nav {
  width: 100%;
  overflow: auto;
  position: fixed;
  height: 60px;
  z-index: 3;
  top: 0;
  right: 0;
  @include flex-rows();
  justify-content: flex-end;
  &__line {
    &:link {
      color: $text;
      text-decoration: none;
    }
    &:visited {
      color: $text;
    }
    &:active {
      color: $text;
    }
    &:hover {
      color: $dark-gray;
    }
    @include flex-columns();
    float: right;
    margin-right: 2em;
    &__text {
      @include flex(1);
    }
    &--logo {
      margin-left: 1em;
      margin-right: .5em;
      font-size: 1.2em;
      width: 2.2em;
      height: 2.2em;
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/portalsoft.png');
    }
    &--logo-text {
      margin-right: auto;
      font-size: 1.5em;
    }
  }
  &--filling {
    background-color: $white;
    opacity: .8;
  }
  &--black-filling {
    background-color: $black;
    opacity: .2;
  }
  &--white-text {
    color: $white;
    .nav__line {
      &:link {
        color: $white;
        text-decoration: none;
      }
      &:visited {
        color: $white;
      }
      &:active {
        color: $white;
      }
      &:hover {
        color: $accent;
      }
    }
  }
}

.search-box {
  z-index: 2;
  top: -100%;
  background-color: $text;
  height: 320px;
  position: fixed;
  width: 270px;
  right: 1%;
  border: 3px solid $text;
  @media (min-width: $personalComputer) {
    right: 2%;
    width: 540px;
  }
  @include flex-columns();
  @include transition(top, 0.2s, ease-in-out);
  &--active {
    top: 8%;
  }
  &__exit {
    position: absolute;
    top: 3%;
    left: 2.5%;
    cursor: pointer;
    color: $white;
    font-size: 1.4em;
    @media (min-width: $personalComputer) {
      font-size: 1em;
    }
    @include transition(color, 0.2s, ease-in-out);
    &:hover {
      color: $medium-gray;
    }
  }
  &__form {
    position: absolute;
    right: 13%;
    width: 74%;
    @media (min-width: $personalComputer) {
      right: 20%;
      width: 60%;
    }
    @media (min-width: $personalComputer) {
    }
    top: 3%;
    &__field {
      width: 100%;
      margin: 0 auto;
      display: inline-block;
      padding: 2% 0%;
      text-align: center;
      border: 1px solid $white;
      font-size: .7em;
      text-align: left;
      padding-left: 3%;
      color: $text;
      @include transition(border, 0.3s, ease-in-out);
      &:focus {
        outline: none;
        border: 1px solid $dark-gray;
      }
    }
  }
  &__tiles {
    font-size: .95em;
    @media (min-width: $phablet) {
      font-size: 16px;
    }
    overflow-y: scroll;
    background-color: $gray;
    position: absolute;
    width: 100%;
    top: 14%;
    height: 86%;
    margin: 0 auto;
    @include tiles();
    .tile {
      width: 230px;
      margin: 30px 0 30px calc((100% - 230px)/2);
      @media (min-width: $personalComputer) {
        margin: 30px 0 30px calc((100% - 460px)/3);
      }
    }
  }
}
