/* query breakpoints */
/* top level classes */
* {
  flex-shrink: 1; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: .74em; }
  @media (min-width: 500px) {
    html, body {
      font-size: .8em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: .82em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: .88em; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: .98em; } }

h1 {
  margin: 0; }

.seo-header {
  visibility: hidden;
  height: 0; }

/* standard colors */
/* custom fonts */
@font-face {
  font-family: 'Nova';
  src: url("ProximaNovaSoft.otf") format("truetype"); }
/* mixins to extend */
/* mixins for transitions */
/* mixins for animations */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.app {
  font-family: 'Open Sans', Fallback, sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  color: #4279ba;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: flex-start;
  min-height: 2000px;
  height: 1185vh; }
  @media (min-width: 715px) {
    .app {
      height: 585vh; } }
  @media (min-width: 1024px) {
    .app {
      height: 435vh; } }
  .app .home {
    height: 100vh;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
  .app .page {
    flex: 3.5 1 0%;
    -webkit-flex: 3.5 1 0%;
    height: 350vh; }
    @media (min-width: 715px) {
      .app .page {
        flex: 1.5 1 0%;
        -webkit-flex: 1.5 1 0%;
        height: 150vh; } }
    @media (min-width: 1024px) {
      .app .page {
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        height: 100vh; } }
  .app .footer {
    flex: 0.35 1 0%;
    -webkit-flex: 0.35 1 0%;
    height: 35vh;
    width: 100%;
    background-color: #696969; }

.splash {
  font-family: 'Open Sans', Fallback, sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  color: #4279ba;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: flex-start;
  min-height: 2000px;
  height: 900vh; }
  @media (min-width: 500px) {
    .splash {
      height: 600vh; } }
  .splash .page {
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    height: 100vh; }
    .splash .page--double {
      height: 200vh;
      flex: 2 1 0%;
      -webkit-flex: 2 1 0%; }
      @media (min-width: 500px) {
        .splash .page--double {
          flex: 1 1 0%;
          -webkit-flex: 1 1 0%;
          height: 100vh; } }
    .splash .page--triple {
      height: 300vh;
      flex: 3 1 0%;
      -webkit-flex: 3 1 0%; }
      @media (min-width: 500px) {
        .splash .page--triple {
          flex: 1 1 0%;
          -webkit-flex: 1 1 0%;
          height: 100vh; } }
    .splash .page--half {
      flex: 0.5 1 0%;
      -webkit-flex: 0.5 1 0%;
      height: 50vh; }

.home__message {
  flex: 2;
  text-align: left;
  width: 80%;
  color: #696969;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around; }
  @media (min-width: 1024px) {
    .home__message {
      flex: 3; } }
  .home__message__header {
    width: 100%;
    flex: 2;
    font-size: 2em;
    color: #4279ba;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: flex-start;
    justify-content: flex-end; }
  .home__message__subheader {
    flex: 1;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: flex-start;
    justify-content: center; }
.home__art {
  flex: 3.5;
  font-family: 'Nova', Fallback, sans-serif;
  color: #4279ba;
  background-size: 245% auto;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background-image: url("../images/MobileLandingPage.png");
  background-position: center 60%;
  background-repeat: no-repeat; }
  @media (min-width: 500px) {
    .home__art {
      width: 500px;
      height: 350px; } }
  @media (min-width: 1024px) {
    .home__art {
      background-image: url("../images/LandingPageFull.png");
      padding-top: 1em;
      background-position: center;
      width: 1024px;
      height: 200px;
      background-size: 100% auto; } }
  @media (min-width: 1024px) {
    .home__art {
      width: 1024px;
      height: 270px; } }
  @media (min-width: 1200px) {
    .home__art {
      width: 1200px;
      height: 300px; } }
.home__description {
  flex: .5;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  font-size: 1.5em;
  text-align: center;
  color: #696969; }
  @media (min-width: 500px) {
    .home__description {
      justify-content: center;
      font-size: 2em; } }
.home__button-wrapper {
  flex: 2 1 0%;
  -webkit-flex: 2 1 0%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around; }
.home__button {
  flex: 0.75 1 0%;
  -webkit-flex: 0.75 1 0%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: flex-start; }
  @media (min-width: 1024px) {
    .home__button {
      flex: 1 1 0%;
      -webkit-flex: 1 1 0%;
      justify-content: center; } }
  .home__button:link {
    text-decoration: none;
    color: #ffffff; }
  .home__button:visited {
    color: #ffffff; }
  .home__button__button-text {
    background-color: #4279ba;
    font-size: 1.5em;
    color: #ffffff;
    padding: .5em 1em;
    border: 2px solid transparent;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
    .home__button__button-text:hover {
      cursor: pointer;
      color: #4279ba;
      background-color: #ffffff;
      border: 2px solid #4279ba; }

.page {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around; }
  .page--spash-header {
    background-image: url("https://portal-soft.imgix.net/PartnerCoverImage.jpg");
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: center; }
  .page__blue-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #4279ba; }
    .page__blue-container--half-white {
      background: linear-gradient(to bottom, #4279ba 0%, #4279ba 50%, #000000 50%, #ffffff 50%, #ffffff 100%); }
    @media (min-width: 500px) {
      .page__blue-container {
        width: 80%; } }
    .page__blue-container__section {
      float: left;
      width: 50%;
      height: 50%; }
      .page__blue-container__section__header {
        text-align: left;
        width: 80%;
        margin: 3em 0 1em 2em;
        font-size: 1.5em;
        color: #ffffff; }
        @media (min-width: 500px) {
          .page__blue-container__section__header {
            margin: 2em 0 1em 4em; } }
      .page__blue-container__section__text {
        text-align: left;
        margin: 1em 0 1em 2.5em;
        font-size: 1.1em;
        width: 70%;
        color: #ffffff; }
        @media (min-width: 500px) {
          .page__blue-container__section__text {
            font-size: 1em;
            margin: 2em 0 1em 6em; } }
  .page__contact-header {
    margin-top: 1em;
    font-size: 3em;
    color: white;
    text-align: center; }
  .page__feature-block-wrapper {
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    width: 100%; }
    @media (min-width: 500px) {
      .page__feature-block-wrapper {
        width: 80%; } }
  .page__feature-block {
    float: left;
    width: 85%;
    padding-left: 15%;
    height: 12.5%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center; }
    @media (min-width: 500px) {
      .page__feature-block {
        width: 50%;
        padding-left: 0;
        height: 25%; } }
    .page__feature-block__image {
      flex: 1 1 0%;
      -webkit-flex: 1 1 0%;
      background-size: auto 40%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center; }
      .page__feature-block__image--best {
        background-image: url("https://portal-soft.imgix.net/OfferIcon.png"); }
      .page__feature-block__image--revenue {
        background-image: url("https://portal-soft.imgix.net/RevshareIcon.png"); }
      .page__feature-block__image--space {
        background-image: url("https://portal-soft.imgix.net/DiscountIcon.png"); }
      .page__feature-block__image--full-service {
        background-image: url("https://portal-soft.imgix.net/SupportIcon (1).png"); }
      .page__feature-block__image--customization {
        background-image: url("https://portal-soft.imgix.net/WhitelabelIcon.png"); }
      .page__feature-block__image--accessible {
        background-position: 55% 50%;
        background-image: url("https://portal-soft.imgix.net/Phoneicon.png"); }
      .page__feature-block__image--site {
        background-image: url("https://portal-soft.imgix.net/IntegrationIcon.png"); }
      .page__feature-block__image--analytics {
        background-image: url("https://portal-soft.imgix.net/AnalyticsIcon.png"); }
    .page__feature-block__text {
      color: #696969;
      flex: 2 1 0%;
      -webkit-flex: 2 1 0%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      .page__feature-block__text__title {
        width: 95%;
        padding-left: 5%;
        text-align: left;
        font-size: 1.5em;
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%; }
      .page__feature-block__text__description {
        width: 65%;
        padding-left: 5%;
        text-align: left;
        flex: 2 1 0%;
        -webkit-flex: 2 1 0%;
        align-self: flex-start; }
  .page--contact {
    background-image: url("https://portal-soft.imgix.net/ContactImage.jpeg");
    background-size: auto 125%;
    background-repeat: no-repeat;
    background-position: center; }
  .page__pricing-boxes {
    height: 100%;
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 500px) {
      .page__pricing-boxes {
        width: 80%; } }
    .page__pricing-boxes__box {
      height: 26.6%;
      width: 80%;
      margin: 5em 0 0 10%;
      float: left;
      background-color: #fcfcfc;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      color: #696969; }
      @media (min-width: 500px) {
        .page__pricing-boxes__box {
          height: 70%;
          width: 30%;
          margin: 5em 0 0 2.5%; } }
      .page__pricing-boxes__box--half {
        height: 16.6%; }
        @media (min-width: 500px) {
          .page__pricing-boxes__box--half {
            height: 50%; } }
      .page__pricing-boxes__box__header {
        flex: 0.2 1 0%;
        -webkit-flex: 0.2 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        border-bottom: 1px solid #696969;
        width: 100%;
        font-size: 1.5em; }
        .page__pricing-boxes__box__header--enterprise {
          flex: 0.28 1 0%;
          -webkit-flex: 0.28 1 0%; }
      .page__pricing-boxes__box__price {
        flex: 0.2 1 0%;
        -webkit-flex: 0.2 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        font-size: 1.3em; }
        .page__pricing-boxes__box__price--small {
          display: inline-block;
          font-size: .7em; }
        .page__pricing-boxes__box__price--enterprise {
          flex: 0.28 1 0%;
          -webkit-flex: 0.28 1 0%;
          font-size: 1.1em; }
      .page__pricing-boxes__box__bullets {
        flex: 0.6 1 0%;
        -webkit-flex: 0.6 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 70%;
        justify-content: flex-start; }
        .page__pricing-boxes__box__bullets--enterprise {
          flex: 0.42 1 0%;
          -webkit-flex: 0.42 1 0%; }
        .page__pricing-boxes__box__bullets__bullet {
          margin-bottom: 1em;
          text-align: center;
          font-size: .9em;
          width: 100%; }
          @media (min-width: 500px) {
            .page__pricing-boxes__box__bullets__bullet {
              text-align: left; } }
          .page__pricing-boxes__box__bullets__bullet--enterprise {
            font-size: 1em;
            text-align: center; }
  .page__contact-form {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    width: 100%; }
    @media (min-width: 500px) {
      .page__contact-form {
        width: 80%; } }
    .page__contact-form input[type=submit] {
      width: 200px;
      border-radius: none;
      background-color: #4279ba;
      color: #ffffff;
      border: none;
      height: 50px;
      font-size: 1.5em;
      margin: 0 auto 1em auto;
      -webkit-appearance: none; }
    .page__contact-form__line {
      width: 100%;
      height: .1em; }
      .page__contact-form__line__label {
        line-height: 3em;
        font-size: 1.5em;
        width: 30%;
        float: left;
        padding: 0 5% 0 7.5%;
        text-align: right;
        color: #ffffff; }
        @media (min-width: 715px) {
          .page__contact-form__line__label {
            line-height: 1em;
            font-size: 2em; } }
        @media (min-width: 500px) {
          .page__contact-form__line__label {
            padding: 0 5% 0 12.5%; } }
      .page__contact-form__line input[type=text] {
        border: #ffffff;
        float: left;
        width: 40%;
        padding: 10px 0px;
        font-size: 1.2em;
        border-radius: 15px;
        text-align: center; }
        @media (min-width: 500px) {
          .page__contact-form__line input[type=text] {
            width: 30%; } }
      .page__contact-form__line textarea {
        border: #ffffff;
        font-size: .8em;
        padding: 30px 0px;
        float: left;
        width: 40%;
        overflow-x: hidden;
        border-radius: 15px;
        text-align: center; }
        @media (min-width: 500px) {
          .page__contact-form__line textarea {
            width: 30%; } }
      .page__contact-form__line__input--hidden {
        padding: none;
        height: 0;
        visibility: hidden; }
  .page--gray {
    background-color: #fcfcfc; }
  .page--blue {
    background-color: #4279ba; }
  .page__splash-spacer {
    flex: 4 1 0%;
    -webkit-flex: 4 1 0%; }
  .page__header {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex: 0.2 1 0%;
    -webkit-flex: 0.2 1 0%; }
    .page__header--gray {
      color: #696969; }
    .page__header--white {
      color: #ffffff; }
    .page__header--modal {
      height: 8em; }
    .page__header__text {
      font-size: 4em; }
      @media (min-width: 715px) {
        .page__header__text {
          font-size: 2em; } }
    .page__header--modal {
      margin-bottom: 2em; }
      @media (min-width: 715px) {
        .page__header--modal {
          margin-bottom: 0; } }
  .page__description {
    flex: .5;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    font-size: 2.5em;
    text-align: center;
    color: #ffffff; }
    @media (min-width: 500px) {
      .page__description {
        justify-content: center;
        font-size: 4em; } }
    .page__description--sub {
      font-size: 2em; }
      @media (min-width: 500px) {
        .page__description--sub {
          justify-content: center;
          font-size: 2em; } }
  .page__pitch-icon-container {
    flex: 0.6 1 0%;
    -webkit-flex: 0.6 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    text-align: center;
    width: 60%;
    justify-content: flex-end; }
    .page__pitch-icon-container--companies {
      width: 80%;
      margin: 0 auto; }
  .page__pitch-icon {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    background-image: url("https://portal-soft.imgix.net/icons8-business-building-50.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center; }
    .page__pitch-icon--computer {
      width: 200px;
      background-image: url("https://portal-soft.imgix.net/FeaturerichIcon.png"); }
    .page__pitch-icon--fintech {
      width: 50%;
      float: left;
      background-size: 100% auto;
      background-image: url("https://portal-soft.imgix.net/INVFintech.png"); }
      @media (min-width: 500px) {
        .page__pitch-icon--fintech {
          width: 25%; } }
    .page__pitch-icon--sosv {
      width: 50%;
      float: left;
      background-size: 50% auto;
      background-image: url("https://portal-soft.imgix.net/sosv.png"); }
      @media (min-width: 500px) {
        .page__pitch-icon--sosv {
          width: 25%; } }
    .page__pitch-icon--bespoke {
      width: 50%;
      float: left;
      background-size: 100% auto;
      background-image: url("https://portal-soft.imgix.net/ignitexl.png"); }
      @media (min-width: 500px) {
        .page__pitch-icon--bespoke {
          width: 25%; } }
    .page__pitch-icon--seedstars {
      width: 50%;
      float: left;
      background-size: 100% auto;
      background-image: url("https://portal-soft.imgix.net/Seedstars.png"); }
      @media (min-width: 500px) {
        .page__pitch-icon--seedstars {
          width: 25%; } }
  .page__pitch-title {
    flex: 0.4 1 0%;
    -webkit-flex: 0.4 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: flex-start;
    text-align: center;
    width: 80%;
    color: #4279ba;
    font-size: 2em; }
    @media (min-width: 500px) {
      .page__pitch-title {
        width: 50%; } }
  .page__pitch-text {
    flex: 0.4 1 0%;
    -webkit-flex: 0.4 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: flex-start;
    text-align: center;
    width: 80%;
    color: #696969;
    font-size: 1.5em; }
    @media (min-width: 500px) {
      .page__pitch-text {
        width: 60%; } }
  .page__company-blurb {
    flex: 0.4 1 0%;
    -webkit-flex: 0.4 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    text-align: center;
    color: #696969;
    width: 80%;
    justify-content: flex-end;
    font-size: 1.5em; }
    @media (min-width: 500px) {
      .page__company-blurb {
        width: 60%; } }
  .page__button-wrapper {
    flex: 2 1 0%;
    -webkit-flex: 2 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
  .page__button {
    flex: 0.75 1 0%;
    -webkit-flex: 0.75 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: flex-start; }
    @media (min-width: 1024px) {
      .page__button {
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        justify-content: center; } }
    .page__button:link {
      text-decoration: none;
      color: #ffffff; }
    .page__button:visited {
      color: #ffffff; }
    .page__button__button-text {
      background-color: #4279ba;
      font-size: 1.5em;
      color: #ffffff;
      padding: .5em 1em;
      border: 2px solid transparent;
      -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
      .page__button__button-text:hover {
        cursor: pointer;
        color: #4279ba;
        background-color: #ffffff;
        border: 2px solid #4279ba; }
  .page__button-wrapper--pricing {
    display: block;
    float: left;
    margin: 15em 25%;
    width: 50%;
    font-size: 1.5em; }
    @media (min-width: 500px) {
      .page__button-wrapper--pricing {
        margin: 3em 2.5% 0 2.5%;
        width: 30%;
        font-size: 1em; } }
  .page__tiles {
    flex: 0.8 1 0%;
    -webkit-flex: 0.8 1 0%;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 715px) {
      .page__tiles {
        width: 75%; }
        .page__tiles--modal {
          width: 100%; } }
    .page__tiles .tile {
      font-size: .95em;
      height: 230px;
      width: 230px;
      float: left; }
      @media (min-width: 500px) {
        .page__tiles .tile {
          font-size: 16px; } }
      .page__tiles .tile__name {
        flex: 1.25 1 0%;
        -webkit-flex: 1.25 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
        background-color: #ffffff;
        font-weight: bold;
        color: #000000; }
      .page__tiles .tile__discount {
        flex: 0.75 1 0%;
        -webkit-flex: 0.75 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
        background-color: #ffffff;
        font-weight: bold;
        color: #000000;
        justify-content: flex-start; }
      .page__tiles .tile__tagline {
        flex: 3.5 1 0%;
        -webkit-flex: 3.5 1 0%;
        background-color: #ffffff;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        color: #696969;
        width: 90%; }
      .page__tiles .tile--company {
        box-shadow: 2px 2px 2px #acacac;
        background-color: #000000;
        margin: 50px auto;
        background-color: #ffffff;
        text-align: center;
        opacity: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -webkit-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        -moz-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        -ms-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        -o-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s; }
        .page__tiles .tile--company:link {
          text-decoration: none;
          color: #4279ba;
          font-weight: bold;
          background-color: #ffffff;
          font-size: 1.8em;
          opacity: 1; }
          @media (min-width: 500px) {
            .page__tiles .tile--company:link {
              font-size: .9em; } }
        .page__tiles .tile--company:visited {
          color: #4279ba; }
        .page__tiles .tile--company:hover {
          opacity: .5;
          color: #696969;
          background-color: #ffffff; }
      .page__tiles .tile__cat-name {
        height: 1em;
        font-size: 2em;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%; }
      .page__tiles .tile--category {
        cursor: pointer;
        margin: 50px auto;
        -webkit-transition: color 0.35s ease-in-out;
        -moz-transition: color 0.35s ease-in-out;
        -ms-transition: color 0.35s ease-in-out;
        -o-transition: color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out;
        text-decoration: none;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around; }
        @media (min-width: 715px) {
          .page__tiles .tile--category {
            border-bottom: 0; } }
        .page__tiles .tile--category--flat {
          cursor: default; }
        .page__tiles .tile--category:link {
          color: #fcfcfc; }
        .page__tiles .tile--category:visited {
          color: #fcfcfc; }
        .page__tiles .tile--category:hover {
          color: #ffffff; }
        .page__tiles .tile--category .icon-container {
          flex: 1 1 0%;
          -webkit-flex: 1 1 0%;
          height: 40%;
          width: 40%;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-around;
          -webkit-justify-content: space-around;
          justify-content: flex-end; }
          .page__tiles .tile--category .icon-container .icon {
            display: inline;
            width: 45%;
            height: 45%;
            fill: currentColor; }
            @media (min-width: 1024px) {
              .page__tiles .tile--category .icon-container .icon {
                width: 45%;
                height: 45%; } }
    .page__tiles .tile {
      width: 230px;
      margin: 0 0 50px calc((100% - 230px)/2); }
      @media (min-width: 715px) {
        .page__tiles .tile {
          margin: 0 0 50px calc((100% - 460px)/3); } }
      @media (min-width: 1024px) {
        .page__tiles .tile {
          margin: 0 0 50px calc((100% - 690px)/4); } }
      .page__tiles .tile:link {
        width: 230px;
        margin: 0 0 50px calc((100% - 230px)/2); }
        @media (min-width: 715px) {
          .page__tiles .tile:link {
            margin: 0 0 50px calc((100% - 460px)/3); } }
        @media (min-width: 1024px) {
          .page__tiles .tile:link {
            margin: 0 0 50px calc((100% - 690px)/4); } }
      .page__tiles .tile--modal:link {
        margin: 0 0 50px calc((100% - 230px)/2); }
        @media (min-width: 500px) {
          .page__tiles .tile--modal:link {
            margin: 0 0 50px calc((100% - 460px)/3); } }
        @media (min-width: 715px) {
          .page__tiles .tile--modal:link {
            margin: 0 0 50px calc((100% - 690px)/4); } }
        @media (min-width: 1024px) {
          .page__tiles .tile--modal:link {
            margin: 0 0 50px calc((100% - 920px)/5); } }

.footer {
  flex: 0.35 1 0%;
  -webkit-flex: 0.35 1 0%;
  width: 100%;
  background-color: #696969;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around; }
  .footer__spacing {
    flex: 0.25 1 0%;
    -webkit-flex: 0.25 1 0%; }
  .footer__wrapper {
    width: 90%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex: 0.75 1 0%;
    -webkit-flex: 0.75 1 0%;
    align-items: stretch; }
    @media (min-width: 715px) {
      .footer__wrapper {
        width: 75%; } }
    .footer__wrapper__category {
      align-items: stretch;
      max-width: 25vw;
      overflow: hidden;
      flex: 1 1 0%;
      -webkit-flex: 1 1 0%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      .footer__wrapper__category__title {
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        color: #ffffff; }
        @media (min-width: 1024px) {
          .footer__wrapper__category__title {
            font-size: 1em; } }
      .footer__wrapper__category__text {
        flex: 2 1 0%;
        -webkit-flex: 2 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        color: #ffffff;
        font-size: 1.3em;
        -webkit-transition: color 0.35s ease-in-out;
        -moz-transition: color 0.35s ease-in-out;
        -ms-transition: color 0.35s ease-in-out;
        -o-transition: color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out;
        text-decoration: none; }
        @media (min-width: 1024px) {
          .footer__wrapper__category__text {
            font-size: 1em; } }
        .footer__wrapper__category__text:hover {
          cursor: pointer;
          color: #fcfcfc; }
        .footer__wrapper__category__text a {
          text-decoration: none;
          -webkit-transition: color 0.35s ease-in-out;
          -moz-transition: color 0.35s ease-in-out;
          -ms-transition: color 0.35s ease-in-out;
          -o-transition: color 0.35s ease-in-out;
          transition: color 0.35s ease-in-out; }
          .footer__wrapper__category__text a:link {
            color: #acacac; }
          .footer__wrapper__category__text a:hover {
            cursor: pointer;
            color: #fcfcfc; }
        .footer__wrapper__category__text__section {
          display: block;
          -webkit-transition: color 0.35s ease-in-out;
          -moz-transition: color 0.35s ease-in-out;
          -ms-transition: color 0.35s ease-in-out;
          -o-transition: color 0.35s ease-in-out;
          transition: color 0.35s ease-in-out;
          cursor: pointer;
          color: #acacac;
          flex: 1 1 0%;
          -webkit-flex: 1 1 0%;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-around;
          -webkit-justify-content: space-around; }
          .footer__wrapper__category__text__section:link {
            cursor: pointer;
            color: #acacac; }
          .footer__wrapper__category__text__section:visited {
            cursor: pointer;
            color: #acacac; }
          .footer__wrapper__category__text__section:hover {
            cursor: pointer;
            color: #fcfcfc; }
        .footer__wrapper__category__text .icon-container {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-around;
          -webkit-justify-content: space-around;
          overflow: hidden; }
          .footer__wrapper__category__text .icon-container:link {
            cursor: pointer;
            color: #acacac; }
          .footer__wrapper__category__text .icon-container:visited {
            cursor: pointer;
            color: #acacac; }
          .footer__wrapper__category__text .icon-container:hover {
            cursor: pointer;
            color: #fcfcfc; }
          .footer__wrapper__category__text .icon-container svg {
            max-width: 50px;
            max-height: 50px;
            padding-left: 0;
            display: block;
            fill: currentColor; }
            @media (min-width: 1024px) {
              .footer__wrapper__category__text .icon-container svg {
                padding-left: 1em; } }

/* query breakpoints */
/* top level classes */
* {
  flex-shrink: 1; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: .74em; }
  @media (min-width: 500px) {
    html, body {
      font-size: .8em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: .82em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: .88em; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: .98em; } }

h1 {
  margin: 0; }

.seo-header {
  visibility: hidden;
  height: 0; }

/* standard colors */
/* custom fonts */
@font-face {
  font-family: 'Nova';
  src: url("ProximaNovaSoft.otf") format("truetype"); }
/* mixins to extend */
/* mixins for transitions */
/* mixins for animations */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal {
  font-family: 'Nova', Fallback, sans-serif;
  color: #4279ba;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fcfcfc;
  z-index: 7;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  -webkit-transition: right 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -moz-transition: right 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -ms-transition: right 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: right 0.2s ease-in-out, visibility 0.2s ease-in-out; }
  @media (min-width: 1200px) {
    .modal {
      width: 1200px;
      height: 700px;
      top: calc((100% - 700px)/2);
      left: calc((100% - 1200px)/2);
      right: calc((100% - 1200px)/2);
      bottom: calc((100% - 700px)/2);
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; }
      .modal--active {
        opacity: 1;
        visibility: visible; } }
  .modal--active {
    right: 0;
    visibility: visible; }

.modal-overlay {
  visibility: hidden; }
  @media (min-width: 1024px) {
    .modal-overlay {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      cursor: pointer;
      width: 100vw;
      height: 100vh;
      background-color: #000000;
      z-index: 6;
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; }
      .modal-overlay--active {
        opacity: .2;
        visibility: visible; }
        .modal-overlay--active:hover {
          opacity: .23; }
        .modal-overlay--active:active {
          opacity: .2; } }

.back-button {
  z-index: 8;
  text-align: center;
  font-family: 'Nova', Fallback, sans-serif;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  color: #696969;
  visibility: hidden;
  opacity: 0;
  font-size: 4em;
  top: 2%;
  left: 2%;
  -webkit-transition: opacity 0s ease-out, visibility 0s ease-out;
  -moz-transition: opacity 0s ease-out, visibility 0s ease-out;
  -ms-transition: opacity 0s ease-out, visibility 0s ease-out;
  -o-transition: opacity 0s ease-out, visibility 0s ease-out;
  transition: opacity 0s ease-out, visibility 0s ease-out; }
  .back-button--active {
    opacity: .5;
    visibility: visible; }
    .back-button--active:active {
      opacity: .5; }
    .back-button--active:hover {
      opacity: .6; }
  @media (min-width: 1024px) {
    .back-button {
      -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      top: 1%;
      left: 1%;
      font-size: 2em; } }

.company {
  height: 200vh;
  font-size: 1.8em;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-direction: column-reverse;
  .scroll-top-width: 0%; }
  @media (min-width: 1200px) {
    .company {
      height: 700px;
      font-size: 1em;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      align-items: center;
      -webkit-align-items: center;
      justify-content: center;
      -webkit-justify-content: center;
      flex-direction: row-reverse; } }
  .company__description {
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    align-self: stretch;
    width: 100%;
    background-color: #fcfcfc;
    color: #696969;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
    @media (min-width: 1200px) {
      .company__description {
        flex: 3 1 0%;
        -webkit-flex: 3 1 0%;
        overflow: auto; } }
    .company__description__screenshot-wrapper {
      visibility: hidden;
      width: 100%;
      display: flex;
      flex: 10 1 0%;
      overflow: hidden; }
      @media (min-width: 1024px) {
        .company__description__screenshot-wrapper {
          visibility: visible;
          overflow: initial; }
          .company__description__screenshot-wrapper__screenshots--large {
            width: 100%;
            height: 1400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around; } }
    .company__description__tagline {
      color: #000000;
      height: 100%;
      width: 80%;
      font-weight: 600;
      font-size: .9em;
      text-align: center;
      flex: 1 1 0%;
      -webkit-flex: 1 1 0%; }
      @media (min-width: 1024px) {
        .company__description__tagline {
          width: 65%;
          font-size: 1em; } }
    .company__description__header {
      flex: 3 1 0%;
      -webkit-flex: 3 1 0%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      height: 100%;
      width: 100%;
      font-size: 2.5em;
      font-weight: 600;
      text-align: center; }
      @media (min-width: 1024px) {
        .company__description__header {
          flex: 2 1 0%;
          -webkit-flex: 2 1 0%;
          justify-content: flex-end; } }
    .company__description__write-up-wrapper {
      flex: 10 1 0%;
      -webkit-flex: 10 1 0%;
      width: 90%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      @media (min-width: 1024px) {
        .company__description__write-up-wrapper {
          flex: 2 1 0%;
          -webkit-flex: 2 1 0%; } }
      .company__description__write-up-wrapper__write-up {
        padding: 1.5em;
        color: #000000;
        text-align: center;
        width: 100%;
        font-size: .9em; }
        @media (min-width: 1024px) {
          .company__description__write-up-wrapper__write-up {
            font-size: 1em;
            width: 85%; } }

.profile {
  background-color: #696969;
  color: #ffffff;
  font-size: 1.2em;
  flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  align-self: stretch;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around; }
  @media (min-width: 1200px) {
    .profile {
      flex: 1.5 1 0%;
      -webkit-flex: 1.5 1 0%; } }
  .profile__restrictions {
    flex: 0.2 1 0%;
    -webkit-flex: 0.2 1 0%;
    font-size: .7em;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    text-align: center;
    width: 80%; }
  .profile__message {
    flex: 0.2 1 0%;
    -webkit-flex: 0.2 1 0%;
    font-size: .8em;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    text-align: center;
    width: 80%; }
  .profile__company-sidebar-spacing {
    flex: 0.35 1 0%;
    -webkit-flex: 0.35 1 0%;
    width: 100%;
    height: 100%; }
  .profile__box {
    flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
    @media (min-width: 715px) {
      .profile__box {
        flex: 2 1 0%;
        -webkit-flex: 2 1 0%; } }
    @media (min-width: 1024px) {
      .profile__box {
        flex: .5;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center; } }
    @media (min-width: 1200px) {
      .profile__box {
        flex: 1;
        border-bottom: none;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around; } }
    .profile__box__discount {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      flex: 2;
      background-color: #ffffff;
      width: 100%;
      color: #4279ba;
      height: 2em;
      text-align: center; }
    .profile__box .company-sidebar-text {
      flex: 1 1 0%;
      -webkit-flex: 1 1 0%;
      font-size: .8em;
      width: 100%;
      height: 100%; }
    .profile__box__info {
      flex: 0.5 1 0%;
      -webkit-flex: 0.5 1 0%;
      color: #ffffff;
      background-color: #696969;
      width: 80%;
      height: 100%;
      text-align: center;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around; }
      @media (min-width: 1024px) {
        .profile__box__info {
          color: #696969;
          background-color: #fcfcfc; } }
      @media (min-width: 1200px) {
        .profile__box__info {
          color: #ffffff;
          background-color: #696969; } }
      .profile__box__info__spacing {
        flex: 0.5 1 0%;
        -webkit-flex: 0.5 1 0%;
        width: 100%;
        height: 100%; }
      .profile__box__info__line {
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
        font-size: .8em;
        height: 100%; }
  .profile__button-wrapper {
    flex: 2 1 0%;
    -webkit-flex: 2 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
  .profile__button {
    flex: 0.75 1 0%;
    -webkit-flex: 0.75 1 0%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: flex-start; }
    @media (min-width: 1024px) {
      .profile__button {
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%;
        justify-content: center; } }
    .profile__button:link {
      text-decoration: none;
      color: #ffffff; }
    .profile__button:visited {
      color: #ffffff; }
    .profile__button__button-text {
      background-color: #ff8c8f;
      font-size: 1.5em;
      color: #ffffff;
      padding: .5em 1em;
      border: 2px solid transparent;
      -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
      .profile__button__button-text:hover {
        cursor: pointer;
        color: #ff8c8f;
        background-color: #ffffff;
        border: 2px solid #ff8c8f; }
  .profile__button {
    width: 60%; }
    .profile__button__button-text {
      text-align: center;
      width: 100%; }
  .profile__button-wrapper {
    width: 70%;
    flex: 0.3 1 0%;
    -webkit-flex: 0.3 1 0%; }
    .profile__button-wrapper__promo {
      width: 100%;
      font-size: .95em;
      margin: 0 auto;
      text-align: center; }
    .profile__button-wrapper__form-field {
      width: 80%;
      margin: 0 10%;
      padding: 1%;
      border: 1px solid #fcfcfc;
      color: #4279ba;
      -webkit-transition: border 0.3s ease-in-out;
      -moz-transition: border 0.3s ease-in-out;
      -ms-transition: border 0.3s ease-in-out;
      -o-transition: border 0.3s ease-in-out;
      transition: border 0.3s ease-in-out; }
      .profile__button-wrapper__form-field:focus {
        outline: none;
        border: 1px solid #696969; }

.about {
  flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  width: 100%;
  color: #000000;
  align-self: start; }
  .about__header {
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    color: #000000;
    font-weight: bold;
    margin: 1.5em 0 1em 0; }
    @media (min-width: 1024px) {
      .about__header {
        font-size: 2em; } }
  .about__sub-header {
    width: 70%;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    color: #000000;
    margin: 1em auto; }
    @media (min-width: 1024px) {
      .about__sub-header {
        font-size: 1.2em; } }
  .about__section {
    width: 75%;
    text-align: left;
    font-size: 1.4em;
    color: #000000;
    margin: 1em auto; }
    @media (min-width: 1024px) {
      .about__section {
        width: 60%;
        font-size: 1em; } }
    .about__section--last {
      margin-bottom: 2em; }
  .about__bullets {
    width: 100%;
    text-align: left;
    color: #000000;
    font-size: 1.1em;
    margin: 1em; }
    @media (min-width: 1024px) {
      .about__bullets {
        font-size: 0.9em; } }

.stars {
  display: inline-block; }
  .stars a:link {
    font-size: .9em;
    text-decoration: underline;
    color: #ffffff;
    width: 75%;
    opacity: 1; }
    @media (min-width: 1024px) {
      .stars a:link {
        color: #696969; } }
    @media (min-width: 1200px) {
      .stars a:link {
        color: #ffffff; } }
  .stars a:visited {
    color: #ffffff; }
    @media (min-width: 1024px) {
      .stars a:visited {
        color: #696969; } }
    @media (min-width: 1200px) {
      .stars a:visited {
        color: #ffffff; } }
  .stars a:hover {
    opacity: .5;
    color: #47a8de; }
  .stars .star {
    font-size: .9em;
    display: inline-block;
    color: gray;
    position: relative; }
    .stars .star:last-child {
      margin-right: 0; }
    .stars .star:before {
      content: '\2605'; }
    .stars .star--filled {
      color: gold; }
    .stars .star--half:after {
      content: '\2605';
      color: gold;
      position: absolute;
      left: 0;
      right: 50%;
      top: 0;
      bottom: 0;
      overflow: hidden; }
    .stars .star--spacer {
      color: #696969; }
      @media (min-width: 1024px) {
        .stars .star--spacer {
          color: #fcfcfc; } }
      @media (min-width: 1200px) {
        .stars .star--spacer {
          color: #696969; } }

/* query breakpoints */
/* top level classes */
* {
  flex-shrink: 1; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  font-size: .74em; }
  @media (min-width: 500px) {
    html, body {
      font-size: .8em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: .82em; } }
  @media (min-width: 1024px) {
    html, body {
      font-size: .88em; } }
  @media (min-width: 1200px) {
    html, body {
      font-size: .98em; } }

h1 {
  margin: 0; }

.seo-header {
  visibility: hidden;
  height: 0; }

/* standard colors */
/* custom fonts */
@font-face {
  font-family: 'Nova';
  src: url("ProximaNovaSoft.otf") format("truetype"); }
/* mixins to extend */
/* mixins for transitions */
/* mixins for animations */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.nav {
  width: 100%;
  overflow: auto;
  position: fixed;
  height: 60px;
  z-index: 3;
  top: 0;
  right: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  justify-content: flex-end; }
  .nav__line {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    float: right;
    margin-right: 2em; }
    .nav__line:link {
      color: #4279ba;
      text-decoration: none; }
    .nav__line:visited {
      color: #4279ba; }
    .nav__line:active {
      color: #4279ba; }
    .nav__line:hover {
      color: #696969; }
    .nav__line__text {
      flex: 1 1 0%;
      -webkit-flex: 1 1 0%; }
    .nav__line--logo {
      margin-left: 1em;
      margin-right: .5em;
      font-size: 1.2em;
      width: 2.2em;
      height: 2.2em;
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../images/portalsoft.png"); }
    .nav__line--logo-text {
      margin-right: auto;
      font-size: 1.5em; }
  .nav--filling {
    background-color: #ffffff;
    opacity: .8; }
  .nav--black-filling {
    background-color: #000000;
    opacity: .2; }
  .nav--white-text {
    color: #ffffff; }
    .nav--white-text .nav__line:link {
      color: #ffffff;
      text-decoration: none; }
    .nav--white-text .nav__line:visited {
      color: #ffffff; }
    .nav--white-text .nav__line:active {
      color: #ffffff; }
    .nav--white-text .nav__line:hover {
      color: #47a8de; }

.search-box {
  z-index: 2;
  top: -100%;
  background-color: #4279ba;
  height: 320px;
  position: fixed;
  width: 270px;
  right: 1%;
  border: 3px solid #4279ba;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -webkit-transition: top 0.2s ease-in-out;
  -moz-transition: top 0.2s ease-in-out;
  -ms-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out; }
  @media (min-width: 1024px) {
    .search-box {
      right: 2%;
      width: 540px; } }
  .search-box--active {
    top: 8%; }
  .search-box__exit {
    position: absolute;
    top: 3%;
    left: 2.5%;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.4em;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    @media (min-width: 1024px) {
      .search-box__exit {
        font-size: 1em; } }
    .search-box__exit:hover {
      color: #acacac; }
  .search-box__form {
    position: absolute;
    right: 13%;
    width: 74%;
    top: 3%; }
    @media (min-width: 1024px) {
      .search-box__form {
        right: 20%;
        width: 60%; } }
    .search-box__form__field {
      width: 100%;
      margin: 0 auto;
      display: inline-block;
      padding: 2% 0%;
      text-align: center;
      border: 1px solid #ffffff;
      font-size: .7em;
      text-align: left;
      padding-left: 3%;
      color: #4279ba;
      -webkit-transition: border 0.3s ease-in-out;
      -moz-transition: border 0.3s ease-in-out;
      -ms-transition: border 0.3s ease-in-out;
      -o-transition: border 0.3s ease-in-out;
      transition: border 0.3s ease-in-out; }
      .search-box__form__field:focus {
        outline: none;
        border: 1px solid #696969; }
  .search-box__tiles {
    font-size: .95em;
    overflow-y: scroll;
    background-color: #fcfcfc;
    position: absolute;
    width: 100%;
    top: 14%;
    height: 86%;
    margin: 0 auto; }
    @media (min-width: 500px) {
      .search-box__tiles {
        font-size: 16px; } }
    .search-box__tiles .tile {
      font-size: .95em;
      height: 230px;
      width: 230px;
      float: left; }
      @media (min-width: 500px) {
        .search-box__tiles .tile {
          font-size: 16px; } }
      .search-box__tiles .tile__name {
        flex: 1.25 1 0%;
        -webkit-flex: 1.25 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
        background-color: #ffffff;
        font-weight: bold;
        color: #000000; }
      .search-box__tiles .tile__discount {
        flex: 0.75 1 0%;
        -webkit-flex: 0.75 1 0%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        width: 100%;
        background-color: #ffffff;
        font-weight: bold;
        color: #000000;
        justify-content: flex-start; }
      .search-box__tiles .tile__tagline {
        flex: 3.5 1 0%;
        -webkit-flex: 3.5 1 0%;
        background-color: #ffffff;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        color: #696969;
        width: 90%; }
      .search-box__tiles .tile--company {
        box-shadow: 2px 2px 2px #acacac;
        background-color: #000000;
        margin: 50px auto;
        background-color: #ffffff;
        text-align: center;
        opacity: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        -webkit-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        -moz-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        -ms-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        -o-transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s;
        transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.2s, color, ease-in-out, 0.2s; }
        .search-box__tiles .tile--company:link {
          text-decoration: none;
          color: #4279ba;
          font-weight: bold;
          background-color: #ffffff;
          font-size: 1.8em;
          opacity: 1; }
          @media (min-width: 500px) {
            .search-box__tiles .tile--company:link {
              font-size: .9em; } }
        .search-box__tiles .tile--company:visited {
          color: #4279ba; }
        .search-box__tiles .tile--company:hover {
          opacity: .5;
          color: #696969;
          background-color: #ffffff; }
      .search-box__tiles .tile__cat-name {
        height: 1em;
        font-size: 2em;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        flex: 1 1 0%;
        -webkit-flex: 1 1 0%; }
      .search-box__tiles .tile--category {
        cursor: pointer;
        margin: 50px auto;
        -webkit-transition: color 0.35s ease-in-out;
        -moz-transition: color 0.35s ease-in-out;
        -ms-transition: color 0.35s ease-in-out;
        -o-transition: color 0.35s ease-in-out;
        transition: color 0.35s ease-in-out;
        text-decoration: none;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        justify-content: space-around;
        -webkit-justify-content: space-around; }
        @media (min-width: 715px) {
          .search-box__tiles .tile--category {
            border-bottom: 0; } }
        .search-box__tiles .tile--category--flat {
          cursor: default; }
        .search-box__tiles .tile--category:link {
          color: #fcfcfc; }
        .search-box__tiles .tile--category:visited {
          color: #fcfcfc; }
        .search-box__tiles .tile--category:hover {
          color: #ffffff; }
        .search-box__tiles .tile--category .icon-container {
          flex: 1 1 0%;
          -webkit-flex: 1 1 0%;
          height: 40%;
          width: 40%;
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          align-items: center;
          -webkit-align-items: center;
          justify-content: space-around;
          -webkit-justify-content: space-around;
          justify-content: flex-end; }
          .search-box__tiles .tile--category .icon-container .icon {
            display: inline;
            width: 45%;
            height: 45%;
            fill: currentColor; }
            @media (min-width: 1024px) {
              .search-box__tiles .tile--category .icon-container .icon {
                width: 45%;
                height: 45%; } }
    .search-box__tiles .tile {
      width: 230px;
      margin: 30px 0 30px calc((100% - 230px)/2); }
      @media (min-width: 1024px) {
        .search-box__tiles .tile {
          margin: 30px 0 30px calc((100% - 460px)/3); } }

/*# sourceMappingURL=root.css.map */
